

.bg-img {
    background-image: url("http://assets.superstreetonline.com/uploads/sites/5/2020/03/2000-Nissan-Skyline-GT-R-V-Spec-NISMO-R-Tune-Hood-02.jpg?width=800&height=800");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* <p style="color:Red;">Why Choose Code Nation?</p> */


.nissan-bg-img {
    background-image: url("http://assets.superstreetonline.com/uploads/sites/5/2020/03/2000-Nissan-Skyline-GT-R-V-Spec-Rear-Bumper-03.jpg?width=800&height=800");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nismo-img {
    background-image: url("http://assets.superstreetonline.com/uploads/sites/5/2020/03/2000-Nissan-Skyline-GT-R-V-Spec-NISMO-R-Tune-Front-Bumper-01.jpg?width=&height=");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .skyline-34 {
    background-image: url("http://assets.superstreetonline.com/uploads/sites/5/2020/03/2000-Nissan-Skyline-GT-R-V-Spec-NISMO-R-Tune-Hood-01.jpg?width=&height=");
    background-repeat: no-repeat;
    background-size: cover;
  }



h1{
background-color: white;
}

h2{
    background-color: 
}

h3{
    background-color: 
}

h3{
    background-color: 
}

h4{
    background-color:

}

/* unit1 {
    background-image: url(unnamed.jpg);
    height;100%
    background-position: center;
    background-repeat: no-repeat
    background-size: cover;
    background-attachement: fixed;
} */

.textbox{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0px 100px 50px;
    padding: 10px;
    text-align: center;
  }

unit2 {
    background-image: url(2000-Nissan-Skyline-GT-R-V-Spec-NISMO-R-Tune-Front-Bumper-01 (1));
    height;100%
    background-position: center;
    background-repeat: no-repeat
    background-size: cover;
    background-attachement: fixed;
}